<!DOCTYPE html>
<html>
    <head>
        <title>Auth - IT Helpdesk</title>
    </head>
    <body>

        <h1>IT Helpdesk Login / Register</h1>

        <h2>Register</h2>

        <input id = "r_name" placeholder="Name"><br><br>
        <input id = "r_email" placeholder="Email"><br><br>
        <input id="r_password" type="password" placeholder="Password"><br><br>
        <input id="r_phone" placeholder="Phone"><br><br>

        <select id="r_role">
            <option value="staff">Staff</option>
            <option value="technician">Technician</option>
        </select><br><br>

        <button onclick="register()">Register</button>

        <hr>

        <h2>Login</h2>

        <input id="l_email" placeholder="Email"><br><br>
        <input id="l_password" type="password" placeholder="Password"><br><br>

        <button onclick="login()">Login</button>

        <script>
            async function register(){
                const res = await fetch('/register',{
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({
                        name: document.getElementById('r_name').value,
                        email: document.getElementById('r_email').value,
                        password: document.getElementById('r_password').value,
                        role: document.getElementById('r_role').value,
                        phone: document.getElementById('r_phone').value,
                    })
                });

                const data = await res.json();
                alert(data.message || data.error);
            }

            async function login() {
                const res = await fetch('/login',{
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({
                        email: document.getElementById('l_email').value,
                        password: document.getElementById('l_password').value
                    })
                });

                const data = await res.json();

                if(data.message){
                    alert("Login successful");

                    // Redirect to dashboard
                    window.location.href = '/dashboard';
                }else{
                    alert(data.error);
                }
            }
        </script>


    </body>
</html>